.poppins{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    color: black;
}

@media (max-width: 576px){

    .layout-1-mobile{
        display: grid;
        grid-template-rows: 5rem 3rem 100% 3rem;
        grid-template-columns: 1fr;
        grid-template-areas:         
        "header"
        "menu"
        "principal"
        "footer";
        
    }
    .menu-mobile{
        grid-area: menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5)
    }
}


@media (min-width: 576px){
    
    .layout-1-desktop{
        display: grid;
        grid-template-rows: 5rem 100% 3rem;
        grid-template-columns: 10rem 1fr;
        grid-template-areas: 
        "header header"
        "menu principal"
        "footer footer"
        }
    .menu-desktop{
        grid-area: menu;
        display: flex;
        flex-direction: row;
}
}

.body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    grid-area: header;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    color: white;
}

.marca{
    font-size: 1rem;
}



.header-img{
    width: 80px ;
    height: auto;
}

.principal{
    grid-area: principal;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    color: white;
}

a{
    color: orange;
    text-decoration-line: none;
    font-weight: bold;
}

